{% extends 'base.html' %}
{% load staticfiles %}
{% load envelope_tags %}
{% load widget_tweaks %}
{% load extra_tags %}
{% block extra_style %}

{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-sm-6">
            <form action="{% url 'send_email' %}" method="post">
                {% csrf_token %}
                {% antispam_fields %}
                <div class="row form-group">
                    <div class="col-md-12">
                        <h2>Contact Us</h2>
                    </div>
                    <div class="col-xs-4">
                        {% render_field form.sender required="required" type="text" class="form-control" placeholder="Your Name" %}
                    </div>
                    <div class="col-xs-6">
                        {% render_field form.organisation class="form-control" placeholder="Company or Organisation" %}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-5">
                        {% render_field form.email type="email" class="form-control" placeholder="Email" %}
                    </div>
                    <div class="col-xs-5">
                        {% render_field form.phone class="form-control" type="text" placeholder="Phone" %}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-10">
                        {% render_field form.message class+="form-control" placeholder="Message" %}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-10">
                        <button class="btn btn-default pull-right">Contact Us</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-6">
            <div class="row form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <h2>Address</h2>
                </div>
                <div class="col-sm-10 col-sm-offset-2">
                    <address><span id="map-title">ФЛП Сергийчук</span><br/>
                        <span id="map-address">64600, Украина, Харьковская область,<br/>
                        Лозовая, улица Карла-Либкнехта 29</span>
                    </address>
                    <address><strong>Звоните нам:</strong> <a href="tel: +380675740756">0675740756</a></address>
                    <address><strong>Пишите нам:</strong> <a href="mailto: osis.advert@gmail.com">osis.advert[at]gmail.com</a>
                    </address>
                </div>
            </div>
            <div class="row form-group">
                <div id="map-canvas"></div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_script %}
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="{% static 'web_site/js/google_map.js' %}"></script>
    <script>
        $(document).ready(function () {
            var errors = {{ form.errors|to_json }};
            for (var key in errors) {
                if (errors.hasOwnProperty(key)) {
                    var element = $("#id_" + key);
                    var parent = element.parent();
                    parent.addClass("has-error");
                }
            }
            {#            for (error_item in errors) {#}
            {#                var error_item_id = error_item#}
            {#            }#}
        });
    </script>
{% endblock extra_script %}

